@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    background-color: rgb(0, 0, 0);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.info{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.menucenter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 200px;
    gap: 20px;
}

.menu a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.home{
    color: rgb(100, 100, 100);
}

.create{
    color: rgb(0, 0, 0);
}

.list{
    color: rgb(100, 100, 100);
}
.opengame{
    align-items: center;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
    margin: 40px;
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 50px;
}

.buttoncreate{
    height: 600px;
    width: 450px;
    background-color: rgb(225, 225, 225);
    border-radius: 30px;
}

.textcreategame{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    margin: 40px;
}

.gamename{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 200px;
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    margin-left: 50px;  
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 10px;
}

.gamelink{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 200px;
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    margin-left: 50px;  
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 10px;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 200px;
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    margin-left: 50px;  
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 10px;
}

.linksimages{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 200px;
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    margin-left: 50px;  
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 10px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.addgame{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 150px;
    background-color: rgb(150, 150, 150);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    margin-top: 20px;
}

.cencel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 150px;
    background-color: rgb(150, 150, 150);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    margin-top: 20px;
}
